* {
    box-sizing: border-box;
}

.main_structure {
    background-color: rgb(227, 203, 196);
    width: 360px;
    height: 800px;
    border: 2px solid black;
    padding: 50px;
    border-radius: 35px;
    margin: 50px auto;
    font-size: 30px;
}

.Logo {
    display: block;
    margin-top: -35px;
}

.search_area input {
    width: 250px;
    padding: 10px;
}

.search_area input::placeholder {
    opacity: 0.5;
}

.search_area img {
    margin-top: 20px;
}

.Burgers {
    margin-top: 25px;
    margin-left: -25px;
}

.Burger_card {
    margin-left: -25px;
    margin-bottom: 20px;
}

.Burger_card img {
    width: 80px;
    display: inline-block;
    vertical-align: middle;
}

.burger_info {
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
}

.burger_name {
    font-size: 20px;
    margin: 0;
}

.burger_price {
    font-size: 18px;
    margin: 5px 0 0;
}